:host {

        padding-top: 4em;

        app-degree {
                position: absolute;
                right: 5em;
        }

        app-view-bubble{
                margin-top:5em;
        }

}